<%- include('partials/header'); -%>

<h4>Добавить новый блог</h4>
<form>
    <div class="form-group">
        <label class="form-label">Загаловок</label>
        <input class="form-control" type="text" name="postTitle">
    </div>
    <div class="form-group">
        <label class="form-label">Post</label>
        <textarea class="form-control" name="postBody" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-primary">Добавить</button>
</form>

<%- include('partials/footer'); -%>
